:root{
	font-size: 16px;}

	.nav{
		padding-top: 2vh;
		background-color: #0073b1;
		padding-bottom: 5vh;
		padding-left: 0vw;
	}
	li{
		list-style: none;
	}
	.nav a{
		color: white;
		cursor: pointer;
		font-size: 1.2rem;

	}
	.fa-bars{
		color: black;
		padding-left: 2vw;
	}
	.parent{
		display: flex;
		justify-content: flex-end;
	}
	.item{
		padding: 1vw 2vw;
		display: none;
	}

.row{
	
	background-color:#7952b3;

	 padding-top:4vh;
	 padding-bottom: 4vh;
	 padding-left: 2vw;

}

.row-two{
	

	background-color:green;
	
	 
	  padding-top:4vh;
	 padding-bottom: 4vh;
	 padding-left: 2vw;


}
.row-three{

	background-color:#7952b3;
	  padding-top:4vh;
	 padding-bottom: 4vh;
	 padding-left: 2vw;



}
    #performAction {

	color: white;
	cursor: pointer;
	font-size: 1.2rem;

}

.paragraph{
	display: none;
	color:white;
	background-color:#2e3944;
	padding-bottom: 6vh;
	padding-top: 2vh;
	padding-left: 1vw; 
	padding-right: 1vw;
	margin-left: 0vw;

   
}
.paragraph-one{
	display: none;
	color:white;
	background-color:#2e3944;
	padding-bottom: 6vh;
	padding-top: 2vh;
	padding-left: 1vw; 
	padding-right: 1vw;


}
.paragraph-two{
	display: none;
	color:white;
	background-color:#2e3944;
	padding-bottom: 6vh;
	padding-top: 2vh;
	padding-left: 1vw; 
	padding-right: 1vw;

}


.modal{
	display: flex;
	justify-content:center;
}

.item-one{
	margin-left: 1vw;
}



 button{
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	border-color:black;
	font-size: 1.2rem;
	padding:1vw 2vw;
	background-color:#286090;
	color:white;
	margin-left: 4vw;


}
button:hover{
	background-color: #5cb85c;
}

.helloModal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    
}

.content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 20%;
}
.closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover, .closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width: 480px){

	 button{
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	border-color:black;
	font-size: 1.2rem;
	padding:1vw 2vw;
	background-color:#286090;
	color:white;
	margin-left: 27vw;


}
.content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 60%;
}


}
@media screen and (min-width: 480px) and (max-width: 767px){

	 button{
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	border-color:black;
	font-size: 1.2rem;
	padding:1vw 2vw;
	background-color:#286090;
	color:white;
	margin-left: 20vw;



}


}

